body{
  background-image: url("../images/fonds/fond1.png")
}



a{
  font-weight: normal;
}

/*notes historiques*/

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\PARTIES EDITORIALES\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*web font Lato*/


/*style p de la page d'accueil*/
.edito,
.lead{
  font-family: 'Lato', Helvetica, Roboto, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
}
.edito2{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
/*reprise h2, h3 plus géré par foundation.css*/
h2,
h3{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #cc6600;
}

/* Pour la page a propos */
.enum{
  padding-top: 10px;
  padding-left: 25px;
}

ul > li.enum{
  text-indent: 5px;
}

.enum:before{
  content: "- ";
  text-indent: 5px;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\PARTIES EDITON\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*font pour le texte de l'édition*/
p{
  font-family: 'Playfair Display', Georgia, Times, serif;
}

<<<<<<< HEAD
<<<<<<< HEAD

cite, a.cite  {
=======
cite, a.cite, .has-tip a.cite  {
>>>>>>> bibstan/master
=======
cite,
a.cite,
.has-tip a.cite{
>>>>>>> bibstan/master
  font-style: normal;
  color: #996600
}

p.note{
  font-family: 'Lato', Helvetica, Roboto, Arial, sans-serif;
  color: #555555;
  font-size: 0.8em;
}

/*.note {
    font-size:1em;
    }*/

.border-top{
  /*    border-top: 1px solid #e6e6e6;
*/
}

.day{
  min-height: 300px;
}



.has-tip{

  border-bottom: 1px dotted #cc6600;
}

.has-tip a{
  color: #333333;
  border-bottom: 1px dotted #cc6600;
}

.has-tip a:hover{
  color: #cc6600
}


header{
  z-index: 100;
  background-color: #e6e6e6;
}
.index li{
  display: inline;
}



li.vedette:before{
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}


/*Pour les illustrations dans un bloc de texte*/
.float-left{
  padding: 0 10 0 0px;
}
.tabs-title{
  background-color: #dfdac5;
}
.tabs-title > a{
  font-family: 'Lato', Helvetica, Roboto, Arial, sans-serif;
  font-variant: small-caps;

}

.content {
    padding:10px;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\PARTIES CARTES\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/


/*Cartes anciennes*/
.zommify, #photo {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}


#mapid{
  height: 100%;
  z-index: 1;
}

.full-width{
  width: 100%;
}

.nav{
  width: 100%;
  /*position:relative !important;/\*position et z-index pour le menu responsive*\/*/
  z-index: 1000 !important;
}

.nav{
  width: 100%;
}
.index li{
  display: inline;
}


/*.thumbnail  {

  display: inline-block;
  line-height: 0;
  max-width: 100%;
  transition: box-shadow 200ms ease-out;
  border-radius: 500px;
  margin-bottom: 1rem; }

  .thumbnail:hover, .thumbnail:focus {
    box-shadow: 0 0 6px 1px rgba(255, 102, 0, 1.0); }*/

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\PARTIES INDEX\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*voir .accordion-title foundation*/

a.accordion-title{
  color: #333333
}

/*.smallCaps {
  font-variant: small-caps;
}*/

.bibl{
  padding-bottom: 10px;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\GESTION ILLUSTRATIONS\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

<<<<<<< HEAD

    img.thumbnail {
     display: inline;
     margin-bottom: 0;
     width:75px;
     border:0;
     /*text-align:center;*/
   }
=======
img.thumbnail{
  display: inline;
  margin-bottom: 0;
  width: 75px;
  border: 0;
  /*text-align:center;*/
}
>>>>>>> bibstan/master

/*Pour les illustrations dans un bloc de texte*/
.float-left{
  padding: 0 10 0 0px;
}

/*images en vignettes en marge du texte*/
a.miniatures{
  display: inline-block;
  line-height: 0;
  max-width: 100%;
  transition: box-shadow 200ms ease-out;
  border-radius: 500px;
  margin-bottom: 1rem;
  margin:5px;
  width: 75px;
}
/*images cliquables rondes grandes NE FONCTIONNE PAS A REVOIR*/
a.vignettes:hover,
a.vignettes:focus{
  border-radius: 500px;
  box-shadow: 0 0 20px px rgba(255, 102, 0, 1.0);
}
/*images cliquables rondes marges*/
a.miniatures img:hover,
a.miniatures img:focus{
  border-radius: 500px;
  box-shadow: 0 0 20px 1px rgba(255, 102, 0, 1.0);
}


a.focus img:hover,
a.focus img:focus{ /*images cliquables focus*/
  border-radius: 0px;
  box-shadow: 0 0 20px 1px rgba(255, 102, 0, 1.0);
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\FOOTER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

img.logo{
  border-radius:3px;
  /*box-shadow: 1px 1px 1px #cc6600;*/
}

.menu > li.logo > a {
display: block;
padding: 0;
line-height: 1;
}

li.logo {
  padding:2px;
}
.footer{
  background-image: url("../images/fonds/fond2.png");
  color: #cc6600;
  padding: 25 10 10 0px;
}

/*/////////////////////////////////control\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.control {
    padding:5px;
}

.control span {
    vertical-align: top;
}

.switch {
    display:inline;    
}