.note {
    font-size:small;
}

.border-top {
    border-top: 1px solid #e6e6e6;
}

.day {
    min-height:300px;
}

#mapid {
    height : 100%;
    z-index:1;
}
                        
.full-width {
    width:100%;                    
}
                        
header {
    z-index:100;
    background-color: #e6e6e6;
}

.nav {
width:100%;
}
.index li {
    display:inline;
}

img.thumbnail {
   display: inline;      
   margin-bottom: 0;
   width:75px;
   border:0;
   /*text-align:center;*/
}

                    
